/* screen - digital-design-3 */

.digital-design-3 {
  align-items: flex-start;
  background-image: url(../img/layer-1-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  overflow: hidden;
  width: 428px;
}

.digital-design-3 .overlap-group2 {
  background-image: url(../img/layer-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 926px;
  margin-left: -438px;
  position: relative;
  width: 1389px;
}

.digital-design-3 .overlap-group {
  height: 915px;
  left: 438px;
  position: absolute;
  top: 0;
  width: 416px;
}

.digital-design-3 .layer-4 {
  height: 14px;
  left: 123px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 51px;
}

.digital-design-3 .layer-4-copy {
  height: 14px;
  left: 264px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 141px;
}

.digital-design-3 .usage {
  left: 126px;
  letter-spacing: 0;
  line-height: 10.4px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.digital-design-3 .group-4 {
  display: flex;
  height: 915px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 413px;
}

.digital-design-3 .layer-8 {
  height: 1px;
  object-fit: cover;
  width: 1px;
}

.digital-design-3 .copyright {
  align-self: flex-end;
  height: 10px;
  letter-spacing: 0;
  line-height: 7.9px;
  margin-bottom: -2.1px;
  margin-right: -2px;
  text-align: right;
  white-space: nowrap;
  width: 153px;
}

.digital-design-3 .name {
  left: 268px;
  letter-spacing: 0;
  line-height: 9.3px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.digital-design-3 .text-19 {
  left: 221px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.digital-design-3 .layer-10 {
  height: 11px;
  left: 311px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 1px;
}

.digital-design-3 .layer-5-copy-2 {
  height: 11px;
  left: 165px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 3px;
}

.digital-design-3 .layer-5-copy {
  height: 11px;
  left: 371px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 2px;
}

.digital-design-3 .place {
  cursor: pointer;
  left: 256px;
  letter-spacing: -0.56px;
  line-height: 8.9px;
  position: absolute;
  top: 50px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.digital-design-3 .place:hover {
  transform: scale(1.1);
}

.digital-design-3 .model {
  cursor: pointer;
  left: 326px;
  letter-spacing: -0.56px;
  line-height: 8.9px;
  position: absolute;
  top: 50px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.digital-design-3 .model:hover {
  transform: scale(1.1);
}

.digital-design-3 .code {
  cursor: pointer;
  left: 386px;
  letter-spacing: -0.56px;
  line-height: 8.9px;
  position: absolute;
  top: 50px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.digital-design-3 .code:hover {
  transform: scale(1.1);
}

.digital-design-3 .digital-artist {
  left: 59px;
  letter-spacing: -0.56px;
  line-height: 8.9px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.digital-design-3 .store {
  cursor: pointer;
  left: 177px;
  letter-spacing: -0.56px;
  line-height: 9.0px;
  position: absolute;
  top: 50px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.digital-design-3 .store:hover {
  transform: scale(1.1);
}

.digital-design-3 .layer-11 {
  height: 5px;
  left: 493px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 104px;
}

.digital-design-3 .rectangle-1 {
  background-image: url(https://cdn.animaapp.com/projects/629d546d54da04f8b0ce4dad/files/ezgif-com-gif-maker-2.gif);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 51px;
  left: 442px;
  position: absolute;
  top: 0;
  width: 46px;
}

.digital-design-3 .group-1 {
  align-items: flex-start;
  background-image: url(../img/layer-13-1-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 15px;
  justify-content: flex-end;
  left: 450px;
  min-width: 403px;
  padding: 3.6px 2.3px;
  position: absolute;
  top: 92px;
}

.digital-design-3 .logo-design {
  cursor: pointer;
  display: flex;
  height: 6px;
  transition: all 0.2s ease;
  width: 57px;
}

.digital-design-3 .logo-design:hover {
  transform: scale(1.1);
}

.digital-design-3 .logo-design-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 4px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 1px;
  white-space: nowrap;
  width: 57px;
}

.digital-design-3 .team-packages {
  cursor: pointer;
  display: flex;
  height: 6px;
  margin-left: 13px;
  margin-top: 0.01px;
  transition: all 0.2s ease;
  width: 67px;
}

.digital-design-3 .team-packages:hover {
  transform: scale(1.1);
}

.digital-design-3 .team-packages-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 4px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 1px;
  white-space: nowrap;
  width: 67px;
}

.digital-design-3 .motion-design {
  cursor: pointer;
  display: flex;
  height: 6px;
  margin-left: 16px;
  margin-top: 0.01px;
  transition: all 0.2s ease;
  width: 67px;
}

.digital-design-3 .motion-design:hover {
  transform: scale(1.1);
}

.digital-design-3 .motion-design-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 4px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 1px;
  white-space: nowrap;
  width: 67px;
}

.digital-design-3 .overlap-group1 {
  height: 6px;
  margin-left: 11px;
  margin-top: 0.01px;
  position: relative;
  width: 40px;
}

.digital-design-3 .header {
  cursor: pointer;
  display: flex;
  height: 6px;
  left: 6px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 32px;
}

.digital-design-3 .header:hover {
  background-color: #000000
}

.digital-design-3 .header-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 4px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 1px;
  white-space: nowrap;
  width: 32px;
}

.digital-design-3 .layer-14 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 40px;
}

.digital-design-3 .intro {
  cursor: pointer;
  display: flex;
  height: 6px;
  margin-left: 9px;
  margin-top: 0.01px;
  transition: all 0.2s ease;
  width: 27px;
}

.digital-design-3 .intro:hover {
  transform: scale(1.1);
}

.digital-design-3 .intro-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 4px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 1px;
  white-space: nowrap;
  width: 27px;
}

.digital-design-3 .misc {
  cursor: pointer;
  display: flex;
  height: 6px;
  margin-left: 15px;
  margin-top: 0.01px;
  transition: all 0.2s ease;
  width: 22px;
}

.digital-design-3 .misc:hover {
  transform: scale(1.1);
}

.digital-design-3 .misc-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 4px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 1px;
  white-space: nowrap;
  width: 22px;
}

.digital-design-3 .art {
  cursor: pointer;
  display: flex;
  height: 6px;
  margin-left: 11px;
  margin-top: 0.01px;
  transition: all 0.2s ease;
  width: 17px;
}

.digital-design-3 .art:hover {
  transform: scale(1.1);
}

.digital-design-3 .art-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 4px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 1px;
  white-space: nowrap;
  width: 17px;
}

.digital-design-3 .web {
  cursor: pointer;
  display: flex;
  height: 6px;
  margin-left: 9px;
  margin-top: 0.01px;
  transition: all 0.2s ease;
  width: 17px;
}

.digital-design-3 .web:hover {
  transform: scale(1.1);
}

.digital-design-3 .web-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 4px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 1px;
  white-space: nowrap;
  width: 17px;
}

.digital-design-3 .rounded-rectangle-1 {
  height: 690px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 174px;
  width: 418px;
}

.digital-design-3 .x733604-l-ga-h-zmj-v {
  height: 68px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 244px;
  width: 202px;
}

.digital-design-3 .x733604f-ys1-jd-bf {
  height: 68px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 244px;
  width: 202px;
}

.digital-design-3 .x733604n-pm-m-ue-sf {
  height: 67px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 318px;
  width: 202px;
}

.digital-design-3 .x733604-n-dio-p4qr {
  height: 67px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 318px;
  width: 202px;
}

.digital-design-3 .x733604mbx-j-cdmm {
  height: 68px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 390px;
  width: 202px;
}

.digital-design-3 .x733604-qt-z4m-lx-z {
  height: 68px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 390px;
  width: 202px;
}

.digital-design-3 .x73360429a-bmdhb-1 {
  height: 68px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 463px;
  width: 202px;
}

.digital-design-3 .x733604azk-xf-cb9-1 {
  height: 68px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 463px;
  width: 202px;
}

.digital-design-3 .x733604q-ff-gkobu {
  height: 68px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 536px;
  width: 202px;
}

.digital-design-3 .x733604-xb7mg6-wm-2 {
  height: 68px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 536px;
  width: 202px;
}

.digital-design-3 .x733604k-if-u9y-bu {
  height: 69px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 608px;
  width: 202px;
}

.digital-design-3 .x7336047g0-euw-lh {
  height: 69px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 608px;
  width: 202px;
}
