/* screen - misc */

.misc {
  align-items: flex-start;
  background-image: url(../img/layer-1-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 2560px;
  overflow: hidden;
  width: 1920px;
}

.misc .overlap-group2 {
  height: 3166px;
  margin-left: -2158px;
  margin-top: -309px;
  position: relative;
  width: 6617px;
}

.misc .layer-2 {
  height: 1px;
  left: 2158px;
  object-fit: cover;
  position: absolute;
  top: 309px;
  width: 1px;
}

.misc .textures {
  height: 3166px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6617px;
}

.misc .rounded-rectangle-1 {
  height: 2286px;
  left: 2202px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 1798px;
}

.misc .layer-12 {
  height: 903px;
  left: 1803px;
  object-fit: cover;
  position: absolute;
  top: 2010px;
  width: 842px;
}

.misc .digital-artist {
  left: 2202px;
  letter-spacing: 0;
  line-height: 94.3px;
  position: absolute;
  top: 401px;
  white-space: nowrap;
}

.misc .layer-13 {
  height: 65px;
  left: 2242px;
  object-fit: cover;
  position: absolute;
  top: 532px;
  width: 1718px;
}

.misc .rectangle-35 {
  background-color: var(--white);
  height: 2653px;
  left: 4045px;
  mix-blend-mode: difference;
  position: absolute;
  top: 309px;
  width: 33px;
}

.misc .rectangle-36 {
  height: 2940px;
  left: 2567px;
  mix-blend-mode: difference;
  position: absolute;
  top: 64px;
  width: 1920px;
}

.misc .overlap-group1 {
  height: 2508px;
  left: 2158px;
  position: absolute;
  top: 308px;
  width: 1867px;
}

.misc .layer-4 {
  height: 20px;
  left: 1443px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 75px;
}

.misc .layer-4-copy {
  height: 20px;
  left: 1646px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 201px;
}

.misc .usage {
  left: 1448px;
  letter-spacing: 0;
  line-height: 14.8px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.misc .group-4 {
  align-items: flex-start;
  display: flex;
  height: 2507px;
  left: 0;
  min-width: 1852px;
  position: absolute;
  top: 1px;
}

.misc .overlap-group {
  background-image: url(../img/layer-23@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  width: 1px;
}

.misc .copyright {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16.6px;
  margin-bottom: -1.2px;
  margin-left: 782px;
  min-height: 17px;
  min-width: 320px;
  text-align: right;
  white-space: nowrap;
}

.misc .digital-artist-1 {
  height: 10px;
  left: 1349px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  width: 140px;
}

.misc .store {
  cursor: pointer;
  height: 11px;
  left: 1522px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  transition: all 0.2s ease;
  width: 56px;
}

.misc .store:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.misc .name {
  left: 1652px;
  letter-spacing: 0;
  line-height: 13.3px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.misc .text-13 {
  left: 1584px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.misc .layer-10 {
  height: 17px;
  left: 1713px;
  object-fit: cover;
  position: absolute;
  top: 56px;
  width: 1px;
}

.misc .layer-5-copy-2 {
  height: 17px;
  left: 1506px;
  object-fit: cover;
  position: absolute;
  top: 56px;
  width: 1px;
}

.misc .layer-5-copy {
  height: 17px;
  left: 1800px;
  object-fit: cover;
  position: absolute;
  top: 56px;
  width: 1px;
}

.misc .model {
  cursor: pointer;
  height: 11px;
  left: 1725px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  transition: all 0.2s ease;
  width: 66px;
}

.misc .model:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.misc .code {
  cursor: pointer;
  height: 11px;
  left: 1816px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  transition: all 0.2s ease;
  width: 51px;
}

.misc .code:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.misc .layer-11 {
  height: 5px;
  left: 1333px;
  object-fit: cover;
  position: absolute;
  top: 61px;
  width: 164px;
}

.misc .rectangle-1 {
  background-image: url(https://cdn.animaapp.com/projects/629d546d54da04f8b0ce4dad/files/ezgif-com-gif-maker-2.gif);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 95px;
  left: 39px;
  position: absolute;
  top: 0;
  width: 86px;
}

.misc .place {
  cursor: pointer;
  left: 1624px;
  letter-spacing: 0;
  line-height: 13.3px;
  position: absolute;
  top: 59px;
  white-space: nowrap;
}

.misc .notdone {
  height: 1052px;
  left: 2341px;
  object-fit: cover;
  position: absolute;
  top: 727px;
  width: 702px;
}

.misc .uh8ih {
  height: 1052px;
  left: 3084px;
  object-fit: cover;
  position: absolute;
  top: 727px;
  width: 701px;
}

.misc .o_1f10hq8pvrmn1i6m5ah1rlev3v-1 {
  height: 758px;
  left: 2341px;
  object-fit: cover;
  position: absolute;
  top: 1820px;
  width: 715px;
}

.misc .logo-design {
  cursor: pointer;
  display: flex;
  height: 21px;
  left: 2254px;
  position: absolute;
  top: 556px;
  transition: all 0.2s ease;
  width: 220px;
}

.misc .logo-design:hover {
  background-color: #000000
}

.misc .logo-design-1 {
  cursor: pointer;
  flex: 1;
  letter-spacing: 0;
  line-height: 23.8px;
  margin-bottom: -0.6px;
  margin-right: -2px;
  margin-top: -1.4px;
  white-space: nowrap;
  width: 220px;
}

.misc .team-packages {
  cursor: pointer;
  display: flex;
  height: 21px;
  left: 2554px;
  position: absolute;
  top: 556px;
  transition: all 0.2s ease;
  width: 261px;
}

.misc .team-packages:hover {
  background-color: #000000
}

.misc .team-packages-1 {
  cursor: pointer;
  flex: 1;
  letter-spacing: 0;
  line-height: 23.9px;
  margin-bottom: -0.6px;
  margin-right: -2.0px;
  margin-top: -1.4px;
  white-space: nowrap;
  width: 261px;
}

.misc .motion-design {
  cursor: pointer;
  display: flex;
  height: 21px;
  left: 2909px;
  position: absolute;
  top: 556px;
  transition: all 0.2s ease;
  width: 261px;
}

.misc .motion-design:hover {
  background-color: #000000
}

.misc .motion-design-1 {
  cursor: pointer;
  flex: 1;
  letter-spacing: 0;
  line-height: 23.9px;
  margin-bottom: -0.6px;
  margin-right: -2px;
  margin-top: -1.4px;
  white-space: nowrap;
  width: 261px;
}

.misc .header {
  cursor: pointer;
  display: flex;
  height: 21px;
  left: 3269px;
  position: absolute;
  top: 556px;
  transition: all 0.2s ease;
  width: 121px;
}

.misc .header:hover {
  background-color: #000000
}

.misc .header-1 {
  cursor: pointer;
  flex: 1;
  letter-spacing: 0;
  line-height: 23.9px;
  margin-bottom: -0.6px;
  margin-right: -2px;
  margin-top: -1.4px;
  white-space: nowrap;
  width: 121px;
}

.misc .intro {
  cursor: pointer;
  display: flex;
  height: 21px;
  left: 3448px;
  position: absolute;
  top: 556px;
  transition: all 0.2s ease;
  width: 101px;
}

.misc .intro:hover {
  background-color: #000000
}

.misc .intro-1 {
  cursor: pointer;
  flex: 1;
  letter-spacing: 0;
  line-height: 23.9px;
  margin-bottom: -0.6px;
  margin-right: -2px;
  margin-top: -1.4px;
  white-space: nowrap;
  width: 101px;
}

.misc .misc-1 {
  display: flex;
  height: 21px;
  left: 3628px;
  position: absolute;
  top: 556px;
  width: 82px;
}

.misc .misc-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 23.9px;
  margin-bottom: -0.6px;
  margin-right: -2px;
  margin-top: -1.4px;
  white-space: nowrap;
  width: 82px;
}

.misc .art {
  cursor: pointer;
  display: flex;
  height: 21px;
  left: 3768px;
  position: absolute;
  top: 556px;
  transition: all 0.2s ease;
  width: 62px;
}

.misc .art:hover {
  background-color: #000000
}

.misc .link {
  cursor: pointer;
  flex: 1;
  letter-spacing: 0;
  line-height: 23.9px;
  margin-bottom: -0.6px;
  margin-right: -2px;
  margin-top: -1.4px;
  white-space: nowrap;
  width: 62px;
}

.misc .web {
  cursor: pointer;
  display: flex;
  height: 21px;
  left: 3878px;
  position: absolute;
  top: 556px;
  transition: all 0.2s ease;
  width: 62px;
}

.misc .web:hover {
  background-color: #000000
}

.misc .layer-14 {
  height: 3px;
  left: 3607px;
  object-fit: cover;
  position: absolute;
  top: 564px;
  width: 122px;
}
