/* screen - model-1 */

.model-1 {
  align-items: flex-start;
  background-image: url(../img/layer-1-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  overflow: hidden;
  width: 428px;
}

.model-1 .overlap-group1 {
  background-image: url(../img/layer-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 926px;
  margin-left: -438px;
  position: relative;
  width: 1389px;
}

.model-1 .overlap-group {
  height: 915px;
  left: 438px;
  position: absolute;
  top: 0;
  width: 416px;
}

.model-1 .layer-4 {
  height: 14px;
  left: 123px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 51px;
}

.model-1 .layer-4-copy {
  height: 14px;
  left: 264px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 141px;
}

.model-1 .usage {
  left: 126px;
  letter-spacing: 0;
  line-height: 10.4px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.model-1 .group-4 {
  display: flex;
  height: 915px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 413px;
}

.model-1 .layer-8 {
  height: 1px;
  object-fit: cover;
  width: 1px;
}

.model-1 .copyright {
  align-self: flex-end;
  height: 10px;
  letter-spacing: 0;
  line-height: 7.9px;
  margin-bottom: -2.1px;
  margin-right: -2px;
  text-align: right;
  white-space: nowrap;
  width: 153px;
}

.model-1 .name {
  left: 268px;
  letter-spacing: 0;
  line-height: 9.3px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.model-1 .rounded-rectangle-1 {
  height: 716px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 181px;
  width: 398px;
}

.model-1 .text-16 {
  left: 221px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.model-1 .layer-10 {
  height: 11px;
  left: 311px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 1px;
}

.model-1 .layer-5-copy-2 {
  height: 11px;
  left: 165px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 3px;
}

.model-1 .layer-5-copy {
  height: 11px;
  left: 371px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 2px;
}

.model-1 .place {
  cursor: pointer;
  left: 256px;
  letter-spacing: -0.56px;
  line-height: 8.9px;
  position: absolute;
  top: 50px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.model-1 .place:hover {
  transform: scale(1.1);
}

.model-1 .model {
  left: 326px;
  letter-spacing: -0.56px;
  line-height: 8.9px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.model-1 .code {
  cursor: pointer;
  left: 386px;
  letter-spacing: -0.56px;
  line-height: 8.9px;
  position: absolute;
  top: 50px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.model-1 .code:hover {
  transform: scale(1.1);
}

.model-1 .digital-artist {
  cursor: pointer;
  left: 59px;
  letter-spacing: -0.56px;
  line-height: 8.9px;
  position: absolute;
  top: 50px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.model-1 .digital-artist:hover {
  transform: scale(1.1);
}

.model-1 .store {
  cursor: pointer;
  left: 177px;
  letter-spacing: -0.56px;
  line-height: 9.0px;
  position: absolute;
  top: 50px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.model-1 .store:hover {
  transform: scale(1.1);
}

.model-1 .model-2 {
  left: 538px;
  letter-spacing: -4.18px;
  line-height: 66.9px;
  position: absolute;
  top: 101px;
  white-space: nowrap;
}

.model-1 .layer-11 {
  height: 5px;
  left: 755px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 49px;
}

.model-1 .sadad {
  height: 261px;
  left: 664px;
  object-fit: cover;
  position: absolute;
  top: 470px;
  width: 174px;
}

.model-1 .x2 {
  height: 262px;
  left: 467px;
  object-fit: cover;
  position: absolute;
  top: 195px;
  width: 175px;
}

.model-1 .image00021 {
  height: 262px;
  left: 664px;
  object-fit: cover;
  position: absolute;
  top: 195px;
  width: 175px;
}

.model-1 .rgreg {
  height: 261px;
  left: 467px;
  object-fit: cover;
  position: absolute;
  top: 470px;
  width: 174px;
}

.model-1 .rectangle-1 {
  background-image: url(https://cdn.animaapp.com/projects/629d546d54da04f8b0ce4dad/files/ezgif-com-gif-maker-2.gif);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 51px;
  left: 442px;
  position: absolute;
  top: 0;
  width: 46px;
}
